body { 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
    background-image:url("./img/logbodyback.avif");
    background-position: center;
    background-size: cover;
    color: #333; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-logo {
    height: 60px;
    width: auto;
    border-radius: 5px;
}
.nav { 
    background-image: url("./img/leaf.avif");
    background-position: center;
    background-size: cover;
    padding-top: 4px; 
    padding-bottom: 4px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.nav a { 
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
    margin: 0 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
    display: inline-block;
}

.nav a:hover { 
    color: #cdffb7;
    background-color: #01250c; 
}

.login-container { 
    background-color: #ffffff; 
    padding: 40px; 
    border-radius: 12px; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1); 
    width: 350px; 
    text-align: center; 
    margin-top: 75px;
    margin-bottom: 50px;
    align-self: center;
}
h2 { 
    color: #00796b; 
    margin-bottom: 30px; 
}
input[type="text"], input[type="password"] { 
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
    border: 1px solid #b2dfdb; 
    border-radius: 6px;
    box-sizing: border-box; 
}
button { 
    background-color: #00bcd4; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}
button:hover { 
    background-color: #0097a7; 
}
.error { 
    color: #d32f2f; 
    margin-top: 10px; 
}
.success { 
    color: #388e3c; 
    margin-bottom: 10px; 
}
.links { 
    margin-top: 20px; 
    font-size: 14px; 
}
.links a { 
    color: #00796b; 
    text-decoration: none; 
}
.footer { 
    text-align: center; 
    padding: 20px; 
    background-image:url("./img/brick.png");
    background-position: center;
    background-size: cover;
    color: white; 
    margin-top: 40px; 
}